<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ParamLogConfig" type="ConfigHelper.ConfigHandler,ConfigHelper" />
    <section name="ExcelReport" type="ExcelReport.ConfigHandler,ExcelReport" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RTClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FrameWork" connectionString="Data Source=RT001\SQL2K8;Initial Catalog=nbframework;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="MachineDB" connectionString="Server=localhost;Port=5432;Userid=postgres;database=test;password=123456;Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UNICODE;Timeout=60;SslMode=Disable" />
  </connectionStrings>
  <ParamLogConfig configSource="Config\ParamLogs.Config" />
  <ExcelReport configSource="Config\ExcelReport.Config" />
  <cachingConfiguration configSource="Config\Cache.config" />
  <appSettings>
    <!--系统类型,区分功能加载-->
    <!--<add key="SystemType" value="   ZonjaCarLabDataCrt       MachineDataAutoRead  "/>-->
    <add key="SystemType" value="MachineDataAutoRead" />
    <!--用于区分单机版与联机数据库版的软件-->
    <add key="DBConnection" value="false" />
    <!--是否显示框架ShowTab的快快捷关闭事件-->
    <add key="ShowPopoMenu" value="false" />
    <!--独立窗体显示参数true-->
    <add key="Client" value="" />
    <!--客户端类型AutoRead/WorkStation/UploadShare-->
    <add key="ClientType" value="WorkStation" />
    <!--显示参数LittleForm-->
    <add key="ShowParam" value="LittleForm" />
    <!--数据库链接参数DBCode-->
    <add key="DBCode" value="DB-PGSQL" />
    <!--组织机构代码-->
    <add key="DATA_AUTH" value="cded9a9e8a334db5a4904961495a7a9b" />
    <!--主窗体提示信息-->
    <add key="MainFormText" value="菱电设备程序" />
    <!--构建版本号-->
    <add key="VersionMain" value="1.0.1" />
    <add key="VersionBuild" value="1" />
    <add key="VersionFormat" value="Ver {VersionMain} 2014-01-02 Build {VersionBuild}" />
    <add key="VersionProduct" value="" />
    <!--配置应用界面的背景颜色246,250,251-->
    <add key="RGBForMainForm" value="255,255,255" />
    <add key="NeedAutoUpdate" value="true" />
    <add key="FwCore.AutoUpdate.AutoUpdateLive.Service.FileService" value="http://192.168.20.8:8052/FileService.asmx" />
    <!--是否启用心跳设置-->
    <add key="IsHeartBeat" value="true" />
    <!--心跳时间设置 单位毫秒-->
    <add key="HeartBeatTime" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <RTClient.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </RTClient.Properties.Settings>
  </userSettings>
</configuration>